@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body, html 
{
    padding: 0;
    margin: 0;
    background-color: #2d2e33;
    color: white;
    font-family: "Roboto", sans-serif;
}

.homepage-wrapper 
{
    display: flex;
}
.sidebar-container {
    height: 100vh;
    width: 15vw;
    background-color: #191c20;
    padding-top: 5px;
}
.btn, .btn-large, .btn-small,
.btn.active, .btn-large.active, .btn-small.active,
.btn:hover, .btn-large:hover, .btn-small:hover {
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    text-transform: none;
    text-align: left;
}

.btn, .btn-large, .btn-small {
    background-color: transparent;
}

.btn.active, .btn-large.active, .btn-small.active,
.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #0e0e10;
}

.content-page 
{
    display: block;
    width: 85vw;
}
.content
{
    margin-top: 5px;
    margin-left: 10px;
    padding: 20px;
    border-radius: 5px;
    height: fit-content;
    background-color: #191c20;

}
bold 
{
    font-weight: 500;
}
.alert 
{
    width: 100%;
    background-color: #171717;
    padding: 20px;
    text-align: center;
}